{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=buildxp;Username=postgres;Password=SUA_SENHA_BD"
  },
  "Admin": {
    "Usuario": "",
    "Senha": "",
    "Email": ""
  }
}
